{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to StyleFill /(:)\/(:)\</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">
                    Welcome to StyleFill – your ultimate destination for chic and trendy lifestyle dresses and accessories!

At StyleFill, we believe that fashion is more than just clothing; it’s a way to express your individuality and confidence. Our journey began with a simple idea: to create a space where fashion enthusiasts can find unique, high-quality pieces that reflect their personal style.
<br><br>
Our Story
<br><br>
Founded in 2004, StyleFill was born out of a passion for fashion and a desire to make stylish, affordable clothing accessible to everyone. Our founder, Nazeer K U, envisioned a brand that combines the latest trends with timeless elegance, ensuring that every piece in our collection is a perfect blend of style and comfort.
<br><br>
What We Offer
<br><br>
From elegant dresses to statement accessories, our curated collections are designed to cater to every occasion and mood. Whether you’re looking for a casual outfit for a day out or a glamorous dress for a special event, StyleFill has something for everyone. Our products are carefully selected to ensure they meet our high standards of quality and style.
<br><br>
Our Mission
<br><br>
At StyleFill, our mission is to empower individuals to express themselves through fashion. We are committed to providing our customers with the best shopping experience, from the moment they visit our website to the time they receive their order. We believe in the power of fashion to inspire confidence and joy, and we strive to make every shopping experience with us a delightful one.
<br><br>
Why Choose Us?
<br><br>
Quality: We prioritize quality in every piece we offer, ensuring that our customers receive only the best.
Trendy: Our collections are always up-to-date with the latest fashion trends, so you can stay ahead of the curve.
Affordable: We believe that great style shouldn’t come with a hefty price tag. Our products are priced to be accessible to everyone.
Customer-Centric: Your satisfaction is our top priority. We are here to assist you with any queries and ensure a seamless shopping experience.
<br><br>
Thank you for choosing StyleFill. We are excited to be a part of your fashion journey and look forward to helping you fill your wardrobe with style!
                </p>
                <br><br>
            </div>
        </center>
    </div>
</div>
{% endblock %}