{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="kawaii-header">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Search Products...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Find what you're looking for in StyleFill /(:)\🪄</p>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card">
                <div class="card-header">Search Products</div>
                <div class="card-body">
                    <form action="{% url 'search' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Search for products" name="searched">
                        </div>
                        <button type="submit" class="btn btn-secondary w-100">Search Products</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if searched %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-4">
            {% for product in searched %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        {% if product.is_sale %}
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        {% endif %}
                        
                        <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="Product image" style="object-fit: cover; height: 250px;">

                        <div class="card-body text-center">
                            <h5 class="fw-bold">{{ product.name }}</h5>

                            {% if product.is_sale %}
                                <div class="mb-2">
                                    <strike>₹{{ product.price }}</strike> 
                                    <span class="text-success fw-bold ms-2">₹{{ product.sale_price }}</span>
                                </div>
                            {% else %}
                                <div class="mb-2 fw-bold">₹{{ product.price }}</div>
                            {% endif %}
                        </div>

                        <div class="card-footer text-center border-top-0 bg-transparent">
                            <a href="{% url 'product' product.id %}" class="btn btn-outline-dark btn-sm w-75">View Product</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}